<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content=" initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="icon" href="../public/img/finalLogo2.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <title>ThoughtSpace</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="TSdark.png" />
        <script src="../js/socialmedia.js"></script>
        <style>
            body {
                font-family: 'Roboto', sans-serif;
                background-color: #D2EDF9;
            }
            .main {
                background-image : linear-gradient(#1FA5DE, #D2EDF9);
                background-position: center;
                height: 700px;
                width: 100%;
            }
            .container {
                width: 100%;
            }
            .btn-outline-primary:hover {
                background-color:#E9F6FC;
            }
            .btn-outline-primary:visited{
                background-color:#E9F6FC;
            }
        </style>
    </head>
    <body>
        <div class = "main">
            <div class = "container">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <a class="navbar-brand" href="index.html" style = "color: white; font-family: 'Roboto Slab', serif;">Thought<font style="color:#a5dcf3;"><b>Space</b></font></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style = "margin-left: 80%;">
                    <!-- Add Pages Later?
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#" style = "color: white;">About</a>
                        <a class="nav-item nav-link" href="#" style = "color: white;">Sign In</a>
                        <a class="nav-item nav-link" href="#" style = "color: white;">Login</a>
                    </div>
                    -->
                    <a href = "index.html"><img src ="TSwhite.png" style = "width: 30px; height: 30px;margin-left: 45px;"></a>
                    </div>
                </nav>
                <br>
                <div class = "container">
                    <h1 style = "text-align: center; color:#e9f6fc; font-family: 'Roboto Slab', serif; font-size: 70px; ">Let's get to know you!</h1>
                    <div class = "row" style = "margin-top: 7%;">
                        <div class = "col">
                            <button id = "FacebookButton" onclick="FacebookClick()" class="btn btn-outline-primary"  style = "width: 338px; height: 70px; border-color: white; color:white; margin-top:5%; font-size: 150%; font-weight: bold; background-color: #35afe3;">Login to Facebook</button>
                        </div>
                        <div class = "col">
                            <button id = "SpotifyButton" onclick="SpotifyClick() class="btn btn-outline-primary" style="width: 338px ; height: 70px; border-color: white; color:white ; margin-top:5%; font-size: 150%; font-weight: bold;  background-color: #35afe3;" >Login to Spotify</button>
                        </div>
                        <div class = "col">
                            <button id = "TwitterButton" onclick="TwitterClick() class="btn btn-outline-primary"  style="width: 338px ; height: 70px; border-color: white; color:white ; margin-top:5%; font-size: 150%; font-weight: bold;  background-color: #35afe3;">Login to Twitter</button>
                        </div>
                </div>
            </div>
        </div>
        <div class = container>
            <div class = "row">
                <div class = "col">
                    <button class = "btn btn-outline-primary" style = "width:600px; height: 100px; margin-top:10%;position: absolute; left: 28%; margin-left: -50px; border-color: #1FA6E0; color:#1FA6E0; font-size: 30px;" onclick="GetResults()"><b>Let's go!</b></button>
                </div>
            </div>
        </div>
    </body>
</html>