body {
    font-family: 'Roboto', sans-serif;
    background-color: #E9F6FC;
}
.main {
    background-image : linear-gradient(#1FA5DE, #E9F6FC);
    background-position: center;
    height: 400px;
    width: 100%;
}
.container {
    width: 100%;
}
.btn-outline-primary:hover {
    background-color:lightblue;
    
}
.btn-outline-primary:visited{
    background-color:lightblue;
    
}